@{
    ViewBag.Title = "Home Page";
}

<h3>Welkom op de website van Thuiszorg</h3>

<p>Wilt u thuishulpaanvragen of juist bieden? Dan bent u op deze website bij het juiste adres.</p>
<ol class="round">
    <li class="one">
        <h5>Maak een account account.</h5>
       @Html.ActionLink("Registreer", "Register", "Account") nu en bekijk wat er voor u mogelijk is.
    </li>

    <li class="two">
        <h5>Validatie</h5>
        Onze medewerkers bekijken uw aanvraag.
    </li>

    <li class="three">
        <h5>De voordelen</h5>
        Als uw aanvraag is goedgekeurd, kunt u genieten van de mogelijkheden van Thuiszorg.
    </li>
</ol>
